* {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}

.map:empty{
  display: none;
}

.map{
  height: 100%;
  overflow: hidden;
}


a{
  color: #333; 
  text-decoration: none;
}

.page-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-footer{
  bottom: 0;
  height: 120px;
  position: absolute;
  bottom: 0;
}