html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}

::-webkit-scrollbar{
  display: none;
}

a{
  color: #333; 
  text-decoration: none;
}

.page-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/*
*
*
*HEADER
*
*/

Header{
  text-align: center;
  background: #f4f4f4;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
}

.navBar li {
  
  display: flex;
  margin: 40px;
  display: inline-block;
  width: 10%;
  border: 5 px solid #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.logo{
  color: #a09e9e;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
*
*
Content Tweepersoons
*
*
*/

.slider{
  margin-top: 10px;
  width: 60vw;
  min-width: 400px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

  border-radius: 12px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  overflow: hidden;
}


.slide{
  min-width:100%;
  height: 60vh;
  transition: .5s;
  object-fit: cover;
}

#goLeft{
  position: absolute;
  top: 50%;
  left:0;
  transform: translateY(-50%);
  width: 10%;
  height: 60vh;
  color: white;
}

#goRight{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 10%;
  height: 60vh;
  color: white;
}

.content-kenmerken{
  margin-bottom: 5px;
  max-height: 60vh;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 100px;
  margin-bottom: 200px;
}

.kenmerken-details{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: 50%;
  right: 50%;
  text-align: left;
}

.knop-boeken{
  text-align: center;
  position: fixed;
  top: 90%;
  right: 0;
  padding-right: 10vw;
}

.nav-link{
  border: 2px solid black;
  padding: 3px;
  margin: 2px;
  background-color: bisque;
  transition: all 0.3s ease 0s;
}

.nav-link:hover{
  background-color: rgb(253, 214, 166);
  font-style: bold;
  transform: scale(1.02);
}

.nav-link:active{
  color:teal;
}

/*
*
*
* Map - locatie
*
*/
.map-container div{
  color:#F3B73E;
}

.marker{
  stroke: #F3B73E;
}

.map:empty{
  display: none;
}

/*
*
*
* Boeking
*
*/
.boeking{
  align-items: left;
}

.container-boekingsformulier h3{
  margin: 30px;
}

.container-boekingsformulier {
  max-width: 400px;
  padding-bottom: 100px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 1;
    transition: all 0.3s ease 0s;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
    transform: scale(1.02);
  }

  .appartementen option{
    font-size:20px;
  }

  .gekozen-appartement{
    text-align: center;
    width: 80vw;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .datepicker-container{
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 
  .datepicker-flex-item{
    padding: 5px;
    flex-grow:1;
  }

  .react-datepicker__day{
    background-color: green;
    color: black;
  }
  
  .react-datepicker__day--disabled{
    background-color: red;
  }

  .react-datepicker__day--highlighted-custom-1{
    background-color: blue;
    color: black;
    border-radius: 12px ;
  }
/*
*
*
* Footer
*
*/
.main-footer{
  bottom: 0;
  position: fixed;
  height: 120px;
  width: 100%;
  box-sizing: border-box;       
  color:black;
  background-color: bisque;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
  display: flex;
}

.col{
  padding-left: 20px;
  flex: 50%;
  
}

.col-sm{
  padding-left: 20px;
  flex: 50%;
}

li{
  list-style-type: none;
}

/*
*
*
*
*
*/
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
  margin: auto;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

#popup-sign{
  margin: 0 auto;
}

.popup-button-wrapper{
  width: 100px;
  height: 75px;
  display: block;
  margin-left:auto;
  margin-right: auto;
}

#popup-button{
  border: 2px solid black;
  background-color: bisque;
  width: 75px;
  height: 75px;
}

#popup-button:hover{
  border: 3px solid black;
}