html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding:  0;
}


a{
  color: #333; 
  text-decoration: none;
}

.page-container{
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: scroll;
}

.page-container::-webkit-scrollbar{
  display: none;
}

/*
*
*
*HEADER
*
*/

Header{
  text-align: center;
  background: #f4f4f4;
  width: 100%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: bisque;
}

.navBar li {
  
  display: flex;
  margin: 40px;
  display: inline-block;
  width: 10%;
  border: 5 px solid #000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.logo{
  color: #a09e9e;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*
*
*
Content Tweepersoons
*
*
*/

.content-container-tweepersoons{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border: 2px solid rgb(58, 2, 2);
  margin: 40px;
  padding: 2.5rem 0px 100px 0px;
  text-align: center;
  align-items: center;
}

.nav-link-tweepersoons{
  position: absolute;
  bottom:0;
  border: 2px solid black;
  padding: 3px;
  margin: 2px;
  background-color: bisque;
  transition: all 0.3s ease 0s;
}

.nav-link-tweepersoons:hover{
  background-color: rgb(253, 214, 166);
  font-style: bold;
  transform: scale(1.02);
}

.nav-link-tweepersoons:active{
  color:teal;
}





/*
*
*
Content Vierpersoons
*
*
*/
.parent-verpersoons::-webkit-scrollbar{
  display: none;
}

.content-container-vierpersoons{
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(58, 2, 2);
  height: 100vh;
  width: 100vw;
}
.content-vierpersoons{
  display: grid;
  grid-template-columns: 60% 40%;
  
}

.content-beschrijving{
  overflow-y: scroll;
  margin-bottom: 5px;
}

.content-beschrijving::-webkit-scrollbar{
  display: none;
}

.beschrijving-titel{
  margin-left: 10px;
}

.beschrijving-details{
  
  margin-left: 10px;
}

.content-kenmerken{
  overflow-y: scroll;
  margin-bottom: 5px;
  max-height: 60vh;
}

.content-kenmerken::-webkit-scrollbar{
  display: none;
}


.kenmerken-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.kenmerken-details .key p{
  text-align: left;
  padding-right: 50px;
}

.kenmerken-details .value p{
  text-align: left;
}

.knop-boeken{
  margin: 10px;
  text-align: center;
}

.nav-link-vierpersoons{
  border: 2px solid black;
  padding: 3px;
  margin: 2px;
  background-color: bisque;
  transition: all 0.3s ease 0s;
  padding: 5px;
}

.nav-link-vierpersoons:hover{
  background-color: rgb(253, 214, 166);
  font-style: bold;
  transform: scale(1.02);
}

.nav-link-vierpersoons:active{
  color:teal;
}

.content-two-images {
  display:flex;
  width: 100vw;
  left: calc(-50vw + 50%);
  max-height: 400px;
  min-height: 200px;
  border: 3px solid rgb(196, 186, 186);
  margin-top:auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.content-two-images::-webkit-scrollbar{
  display: none;
}

#newYork{
  max-height: 300px;;
  height: 400px;
  max-width: 400px;
}

#zee{
  max-height: 300px;;
  height: 400px;
  width: 400px;
}

#rainSea{
  max-height: 300px;;
  height: 400px;
  width: 400px;
}

#woestijn{
  max-height: 300px;;
  height: 400px;
  width: 400px;
}


/*
*
*
* Map - locatie
*
*/
.map-container div{
  color:#F3B73E;
}

.marker{
  stroke: #F3B73E;
}

.map:empty{
  display: none;
}




.boeking{
  align-items: left;
}

.container-boekingsformulier h3{
  margin: 30px;
}

.container-boekingsformulier {
  max-width: 400px;
  padding-bottom: 100px;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 1;
    transition: all 0.3s ease 0s;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
    transform: scale(1.02);
  }

  .appartementen option{
    font-size:20px;
  }

  .gekozen-appartement{
    text-align: center;
    width: 80vw;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
  }

  .datepicker-container{
    margin: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 
  .datepicker-flex-item{
    padding: 5px;
    flex-grow:1;
  }

  .react-datepicker__day{
    background-color: green;
    color: black;
  }
  
  .react-datepicker__day--disabled{
    background-color: red;
  }
  
 








.main-footer{
  bottom: 0;
  position: fixed;
  height: 120px;
  width: 100%;
  box-sizing: border-box;        color:black;
  background-color: bisque;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row{
  display: flex;
}

.col{
  padding-left: 20px;
  flex: 50%;
  
}

.col-sm{
  padding-left: 20px;
  flex: 50%;
}

li{
  list-style-type: none;
}