@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');



.homepage-container{
   height: 100vh;
   width: 100vw;
   background-image:  url(../img/zee.jpeg);
   background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    scroll-behavior: smooth;
    align-items: center;
    
    
}

  .homepage-section-one{
     height: 100vh;
     width: 100vw;
     text-align: center;
     align-items: center;
}
  
 
 .text{
    padding: 10rem;
    text-align:center;
    color: black;
    font-family: 'Galada', cursive;
    font-size: 40px;
    overflow:hidden; 
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .text div:first-of-type {    
  animation: showup 7s infinite;
  }
  
  .text div:last-of-type {
  animation: reveal 7s infinite;
  }
  
  .text div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
  }
  
  @keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
  }
  
  @keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
  }
  
  @keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
  }

 .scroll-down{
    width: 100px;
    height: 100px;
    left: 50%;
    transform: rotate(90deg);
    position: absolute;
    bottom: 250px;
    animation: bounce 2s infinite;
    animation-direction: alternate-reverse;
    
 }

 button{
    opacity: 0.75;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline:none;
 }

  @keyframes bounce {
   from { bottom: 220px;}
   to{bottom:280px;}
   }

   .homepage-section-two{
      position: relative;
      height: 100vh;
      width: 100vw;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 2;
   }

   .section-two-column-one{
      background:  white;
      padding-left: 	20px;
      text-align: center;
   }
   
   .section-two-column-two{
      background:  white;
      bottom: 0px;
      align-items: center;
      text-align: center;
   }

   .section-two-column-three{
      background:  white;
      grid-column-start: 1;
      grid-column-end:   3;
      text-align: center;
   }

   .kalendar-homepage__month-container{
      width: 400px;
      height: 350px;
   }
  
   .kalendar-homepage__month{
      width: 350px;
      height: 350px;
   }

   .kalendar-homepage__week{
      width: 100%;
   }

   .react-datepicker-homepage .react-datepicker__day {
      height: 50px;
      width: 50px !important;
      text-transform: none !important;
      cursor: default !important;
   }

   .react-datepicker-homepage .react-datepicker__day:hover,
   .react-datepicker-homepage .react-datepicker__day:active,
   .react-datepicker-homepage .react-datepicker__day:focus
   {
      background-color: green !important;
   }

   .react-datepicker-homepage .react-datepicker__day--disabled:hover,
   .react-datepicker-homepage .react-datepicker__day--disabled:active,
   .react-datepicker-homepage .react-datepicker__day--disabled:focus
   {
      background-color: red !important;
   }
 
   

