@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

.homepage-container{
   height: 100vh;
   width: 100vw;
   background-image:  url(../img/zee.jpeg);
   background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
    
}

  .homepage-section-one{
     text-align: center;
   
}
  
 
 .text{
    padding: 10rem;
    text-align:center;
    color: black;
    font-family: 'Galada', cursive;
    font-size: 40px;
    overflow:hidden; 
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0,0,0);
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .text div:first-of-type {    
  animation: showup 7s infinite;
  }
  
  .text div:last-of-type {
  animation: reveal 7s infinite;
  }
  
  .text div:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
  }
  
  @keyframes showup {
  0% {opacity:0;}
  20% {opacity:1;}
  80% {opacity:1;}
  100% {opacity:0;}
  }
  
  @keyframes slidein {
  0% { margin-left:-800px; }
  20% { margin-left:-800px; }
  35% { margin-left:0px; }
  100% { margin-left:0px; }
  }
  
  @keyframes reveal {
  0% {opacity:0;width:0px;}
  20% {opacity:1;width:0px;}
  30% {width:355px;}
  80% {opacity:1;}
  100% {opacity:0;width:355px;}
  }
  

 

 .homepage-section-one-content{
    
 }
  
  
  